@charset "UTF-8";
/**
 * Zühlke theme for reveal.js.
 *
 */
.window-background .present {
    background-position-y: 0.5em;
}

.reveal .deck-slide {
    text-align: left;
}

.reveal .deck-slide.slide-background {
    background: url("../assets/img/bg.jpg"), center, center;
    background-size: cover;
}

.reveal .deck-slide h1, .reveal .deck-slide h3 {
    letter-spacing: 0;
}

.reveal .deck-slide h1 {
    font-size: 2.1em;
    position: relative;
    padding: 20px;
    margin-top: 4em;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.reveal .deck-slide h3 {
    margin-top: 0.5em;
    font-size: 1.1em;
    text-indent: 0.1em;
    line-height: 1.3em;
}

.reveal .img-slide h2 {
    display: inline-block;
    margin-top: 5em;
    margin-left: -4em;
    background: rgba(255, 255, 255, 0.5);
    padding: 0.5em;
}

.reveal .slide-background::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 8vw;
    width: 8vw;
    height: 8vw;
    max-width: 200px;
    max-height: 200px;
    background: url("../assets/img/zuehlke_logo.jpg");
    background-size: contain;
}

.reveal .slides section {
    padding: 0;
}

.reveal .slides section h1, .reveal .slides section h2, .reveal .slides section h3 {
    font-weight: 800 !important;
}

.reveal .slides section .margin-top {
    margin-top: 20px;
}

.reveal .slides section h2 {
    margin-bottom: 0.8em !important;
    line-height: 1em !important;
}

.reveal .slides section h2 code {
    font-weight: normal;
    background: transparent;
}

.reveal .slides section img {
    background: none;
    border: none;
    box-shadow: none;
}

.reveal .slides section img.portrait {
    width: 50%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.reveal .slides section p, .reveal .slides section q {
    line-height: 1.4em;
    margin-bottom: 1em;
}

.reveal .slides section q::before, .reveal .slides section q::after {
    content: none;
}

.reveal .slides section q .text {
    font-style: italic;
}

.reveal .slides section q .text::before, .reveal .slides section q .text::after {
    color: #FA9B1E;
    font-size: 1.5em;
}

.reveal .slides section q .text::before {
    content: '«';
    margin-right: .3em;
}

.reveal .slides section q .text::after {
    content: '»';
    margin-left: .3em;
}

.reveal .slides section q .author {
    font-size: .8em;
    display: block;
    margin-top: 1em;
    text-align: right;
    font-style: normal;
}

.reveal .slides section ul, .reveal .slides section ol {
    margin-top: 0.5em !important;
    margin-bottom: 1em;
}

.reveal .slides section li {
    margin-top: 0.8em;
}

.reveal .slides section li:first-child {
    margin-top: 0;
}

.reveal .slides section pre {
    box-shadow: none !important;
    font-size: 0.7em !important;
    word-wrap: normal !important;
}

.reveal .slides section pre code {
    padding: 0.4em !important;
    max-height: none !important;
}

.reveal .slides section pre .keyword {
    color: #B38335;
}

.reveal .slides section pre .tag, .reveal .slides section pre .literal,
.reveal .slides section pre .apache .tag {
    color: #3B7586;
}

.reveal .slides section pre .variable {
    color: #666;
}

.reveal .slides section pre .string {
    color: #B66666;
}

.reveal .slides section pre .title {
    color: #3B7586;
}

.reveal .slides section .bv-slide img {
    opacity: 0.4;
}

.reveal .slides section .bv-slide img:first-child {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.reveal .slides section .progress {
    height: 0.25em;
}

.reveal .slides section .warn {
    color: var(--zuehlke-orange);
}

.reveal .slides section .strikethrough {
    text-decoration: line-through;
}

.reveal .slides section .code {
    background: rgba(236, 239, 241, 0.56);
    border-radius: 2px;
    color: #00796B;
    padding: 0 4px;
    font-size: 90%;
    font-family: monospace;
}

.reveal .slides section .code.nobg {
    color: inherit;
    background: inherit;
    padding: 0;
    margin: 0 10px;
    border-radius: 0;
}

.reveal .slides section .tip {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    background-color: #5AB7DB;
    color: white;
    padding: 20px;
    border-radius: 10px;
    transform: translateX(-50%) translateY(-50%) rotate(20deg);
    min-width: 80%;
    text-align: left;
}

.reveal .slides section .tip.visible {
    opacity: .9;
}

.reveal .slides section .tip::before {
    content: ' ';
    background: url("../assets/img/light-bulb.svg") no-repeat;
    background-size: contain;
    display: block;
    min-width: 50px;
    min-height: 50px;
    margin-right: 20px;
}

.reveal .slides section .comparison {
    display: flex;
}

.reveal .slides section .comparison > div:first-child, .reveal .slides section .comparison > div:last-child {
    width: 50%;
}

.reveal .slides section .comparison > div:first-child.code, .reveal .slides section .comparison > div:last-child.code {
    position: relative;
    font-size: 1.8rem;
    padding: 0;
}

.reveal .slides section .comparison > div:first-child:not(.code), .reveal .slides section .comparison > div:last-child:not(.code) {
    height: 300px;
    background-color: rgba(192, 192, 192, 0.3);
    margin: 4px;
    padding: 15px;
    font-size: 1.5rem;
}

.reveal .slides section .comparison > div:first-child {
    text-align: left;
}

.reveal .slides section .comparison > div:last-child {
    text-align: right;
}

.reveal .slides section .badge-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
}

.reveal .slides section .badge-container .badge {
    position: relative;
    padding: 7px;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    opacity: .8;
}

.reveal .slides section .badge-container .badge:not(:first-child) {
    margin-top: 5px;
}

.reveal .slides section .badge-container .badge.es6 {
    background-color: #FA9B1E;
}

.reveal .slides section .badge-container .badge.es6::before {
    content: 'ES6';
}

.reveal .slides section .badge-container .badge.es5 {
    background-color: #5AB7DB;
}

.reveal .slides section .badge-container .badge.es5::before {
    content: 'ES5';
}

.reveal .slides section .badge-container .badge.es2020 {
    background-color: #FA9B1E;
}

.reveal .slides section .badge-container .badge.es2020::before {
    content: 'ES2020';
}

.reveal .slides section .badge-container .badge.do {
    background-color: #58C765;
}

.reveal .slides section .badge-container .badge.do::before {
    content: 'Do';
}

.reveal .slides section .badge-container .badge.dont {
    background-color: #DE3E41;
}

.reveal .slides section .badge-container .badge.dont::before {
    content: "Don't";
}

.reveal .slides section .column-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reveal .slides section .column-container .column, .reveal .slides section .column-container .column-5, .reveal .slides section .column-container .column-4, .reveal .slides section .column-container .column-3, .reveal .slides section .column-container .column-2, .reveal .slides section .column-container .bubble {
    display: flex;
    flex-direction: column;
}

.reveal .slides section .column-container .column img, .reveal .slides section .column-container .column-5 img, .reveal .slides section .column-container .column-4 img, .reveal .slides section .column-container .column-3 img, .reveal .slides section .column-container .column-2 img, .reveal .slides section .column-container .bubble img {
    max-width: 70%;
    margin: auto;
}

.reveal .slides section .column-container .column-5 {
    width: 20%;
    max-width: 20%;
}

.reveal .slides section .column-container .column-4 {
    width: 25%;
    max-width: 25%;
}

.reveal .slides section .column-container .column-3 {
    width: 33.333333%;
    max-width: 33.333333%;
}

.reveal .slides section .column-container .column-2 {
    width: 50%;
    max-width: 50%;
}

.reveal .slides section .column-container .bubble {
    background-color: var(--zuehlke-orange);
    color: white;
    border-radius: 10px;
    width: 45%;
    max-width: 45%;
    flex-grow: 0;
    margin: 10px auto;
    padding: 20px 10px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.reveal .slides section .column-container .bubble .strike-through {
    display: block;
    position: absolute;
    background: red;
    width: 106%;
    height: 10px;
    border-radius: 5px;
    transform: rotate(10deg);
    opacity: .6;
    top: calc(50% - 5px);
    left: calc(0px - 3%);
}

.print-pdf .sub-section-slide h2 {
    opacity: 1;
}

.print-pdf .reveal.none .slides section.sub-section-slide {
    padding-top: 350px !important;
}

.print-pdf .reveal.none .slides section.deck-slide {
    padding-top: 0 !important;
}

table tbody th {
    background: rgba(236, 239, 241, 0.24);
    border-right: 1px solid #ECEFF1;
    font-weight: 400;
    border-bottom: 1px solid #ECEFF1;
    padding: 16px 32px;
    text-align: left;
}

table tbody td {
    border-bottom: 1px solid #ECEFF1;
    padding: 16px 32px;
    text-align: left;
}

.tab {
    display: none;
    margin-top: -0.35em !important;
}

.tab.active {
    display: block;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
    background: #eeeeee;
}

.reveal {
    font-family: "Zuehlke", sans-serif;
    font-size: 36px;
    font-weight: normal;
    color: #444444;
}

::selection {
    color: #fff;
    background: rgba(0, 0, 0, 0.99);
    text-shadow: none;
}

::-moz-selection {
    color: #fff;
    background: rgba(0, 0, 0, 0.99);
    text-shadow: none;
}

.reveal .slides > section,
.reveal .slides > section > section {
    line-height: 1.3;
    font-weight: inherit;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    margin: 0 0 20px 0;
    color: var(--zuehlke-orange);
    font-family: "Zuehlke", sans-serif;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-transform: none;
    text-shadow: none;
    word-wrap: break-word;
}

.reveal h1 {
    font-size: 3.5em;
}

.reveal h2 {
    font-size: 1.7em;
}

.reveal h3 {
    font-size: 1.25em;
}

.reveal h4 {
    font-size: 1em;
}

.reveal h1 {
    text-shadow: none;
}

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
    margin: 20px 0;
    line-height: 1.3;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
    max-width: 95%;
    max-height: 95%;
}

.reveal strong,
.reveal b {
    font-weight: bold;
}

.reveal em {
    font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em;
}

.reveal ol {
    list-style-type: decimal;
}

.reveal ul {
    list-style-type: disc;
}

.reveal ul ul {
    list-style-type: square;
}

.reveal ul ul ul {
    list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
    display: block;
    margin-left: 40px;
}

.reveal dt {
    font-weight: bold;
}

.reveal dd {
    margin-left: 40px;
}

.reveal blockquote {
    display: block;
    position: relative;
    width: 70%;
    margin: 20px auto;
    padding: 5px;
    font-style: italic;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
    display: inline-block;
}

.reveal q {
    font-style: italic;
}

.reveal pre {
    display: block;
    position: relative;
    width: 95%;
    margin: 20px auto;
    text-align: left;
    font-size: 0.55em;
    font-family: monospace;
    line-height: 1.2em;
    word-wrap: break-word;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.reveal code {
    font-family: monospace;
    text-transform: none;
}

.reveal pre code {
    display: block;
    padding: 5px;
    overflow: auto;
    max-height: 400px;
    word-wrap: normal;
}

.reveal table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

.reveal table th {
    font-weight: bold;
}

.reveal table th,
.reveal table td {
    text-align: left;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-bottom: 1px solid;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
    text-align: center;
}

.reveal table th[align="right"],
.reveal table td[align="right"] {
    text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
    border-bottom: none;
}

.reveal sup {
    vertical-align: super;
}

.reveal sub {
    vertical-align: sub;
}

.reveal small {
    display: inline-block;
    font-size: 0.6em;
    line-height: 1.2em;
    vertical-align: top;
}

.reveal small * {
    vertical-align: top;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
    color: var(--zuehlke-orange);
    text-decoration: none;
    -webkit-transition: color .15s ease;
    -moz-transition: color .15s ease;
    transition: color .15s ease;
}

.reveal a:hover {
    color: #e47000;
    text-shadow: none;
    border: none;
}

.reveal .roll span:after {
    color: #fff;
    background: #bd5c00;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
    margin: 15px 0;
    background: rgba(255, 255, 255, 0.12);
    border: 4px solid #444444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal section img.plain {
    border: 0;
    box-shadow: none;
}

.reveal a img {
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
}

.reveal a:hover img {
    background: rgba(255, 255, 255, 0.2);
    border-color: var(--zuehlke-orange);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
    color: var(--zuehlke-orange);
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
    background: rgba(0, 0, 0, 0.2);
    color: var(--zuehlke-orange);
}

.reveal .progress span {
    -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

.reveal .grid {
    display: grid;
    grid-template-columns: auto auto;
}

.reveal .slides section .grid li {
    margin-top: 0.8em;
}
