
* {
    box-sizing: border-box;
}

.toc {
    font-family: 'Zuehlke', 'sans-serif';
    display: flex;
    background: url("../assets/img/bg.jpg") no-repeat center center;
    background-size: cover;
    align-content: center;
    justify-content: left;
    flex-wrap: wrap;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 115px 15px 0;
}

.toc h1 {
    font-size: 50px;
}

.toc h1, .toc h2, .toc h3 {
    font-family: 'Zuehlke', 'sans-serif';
    color: var(--zuehlke-orange);
}

.toc .nowrap {
    white-space: nowrap;
}

.toc header {
    flex-basis: 100%;
    margin: 15px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
}

.toc section {
    flex-basis: calc(25% - 2 * 15px);
    min-width: 200px;
    max-width: 400px;
    color: white;
    margin: 15px;
    flex-grow: 1;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.toc section:hover {
    transform: scale(1.05);
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
}

.toc section {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-decoration: none;
    color: black;
    padding: 15px;
    cursor: pointer;
}

.toc section a {
    text-decoration: none;
    color: inherit;
}

.toc section a:visited {
    text-decoration: none;
    color: inherit;
}

.toc section h2 {
    margin: 0 0 10px;
}

.toc section ul {
    padding-left: 20px;
    margin: 0;
}
