@font-face {
    font-family: "Zuehlke";
    src: url("../assets/fonts/zuehlke-webfont.eot") format("eot"),
    url("../assets/fonts/zuehlke-webfont.woff2") format("woff2"),
    url("../assets/fonts/zuehlke-webfont.woff") format("woff"),
    url("../assets/fonts/zuehlke-webfont.ttf") format("truetype"),
    url("../assets/fonts/zuehlke-webfont.svg") format("svg");
}

@font-face {
    font-family: "Zuehlke";
    src: url("../assets/fonts/zuehlke-medium.woff2") format("woff2"),
    url("../assets/fonts/zuehlke-medium.woff") format("woff");
    font-weight: bold;
}

:root {
    --zuehlke-dark-gray: #4d4d4d;
    --zuehlke-gray: #666666;
    --zuehlke-bright-gray: #cccccc;
    --zuehlke-white: #ffffff;
    --zuehlke-purple: #985b9c;
    --zuehlke-bright-blue: #66ccff;
    --zuehlke-blue: #0099cc;
    --zuehlke-bright-green: #ccff00;
    --zuehlke-green: #00cc66;
    --zuehlke-gradient: linear-gradient(to right bottom, var(--zuehlke-purple) 10%, #A1C2E6);
}

* {
    box-sizing: border-box;
}

body {
    background: var(--zuehlke-white);
    margin: 0;
}

.reveal {
    font-family: "Zuehlke", sans-serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 1.2;
    color: var(--zuehlke-dark-gray);
}

/*********************************************
 * SELECTION
 *********************************************/
::selection {
    background: var(--zuehlke-bright-blue);
    text-shadow: none;
}

::-moz-selection {
    background: var(--zuehlke-bright-blue);
    text-shadow: none;
}

.reveal .slides > section,
.reveal .slides > section > section {
    font-weight: inherit;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    color: var(--zuehlke-dark-gray);
    font-family: "Zuehlke", sans-serif;
    word-wrap: break-word;
    margin: 0 0 1em 0;
}

.reveal h1 {
    font-size: 3em;
}

.reveal h2 {
    font-size: 1.5em;
}

.reveal h3 {
    font-size: 1.2em;
}

.reveal h4 {
    font-size: 1em;
}

/*********************************************
 * LISTS
 *********************************************/
.reveal ol,
.reveal dl,
.reveal ul {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em;
}

.reveal ol {
    list-style-type: decimal;
}

.reveal ul {
    list-style-type: disc;
}

.reveal ul ul {
    list-style-type: square;
}

.reveal ul ul ul {
    list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
    display: block;
    margin-left: 40px;
}

.reveal li + li {
    margin-top: .5em;
}

/*********************************************
 * TABLES
 *********************************************/
.reveal table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

.reveal table th {
    font-weight: bold;
}

.reveal table th,
.reveal table td {
    text-align: left;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-bottom: 1px solid;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
    text-align: center;
}

.reveal table th[align="right"],
.reveal table td[align="right"] {
    text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
    border-bottom: none;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
    margin: 15px 0;
    background: rgba(255, 255, 255, 0.12);
    border: 4px solid #444444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal section img.plain {
    border: 0;
    box-shadow: none;
}

.reveal a img {
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
}

.reveal a:hover img {
    background: rgba(255, 255, 255, 0.2);
    border-color: var(--zuehlke-dark-gray);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
    color: var(--zuehlke-purple);
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
    background: var(--zuehlke-bright-gray);
    color: var(--zuehlke-purple);
}

.reveal .progress span {
    -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
    color: var(--zuehlke-purple);
    text-decoration: underline;
    text-decoration-color: var(--zuehlke-purple);
    text-decoration-thickness: 3px;
    text-underline-offset: .1em;
    -webkit-transition: color .15s ease;
    -moz-transition: color .15s ease;
    transition: color .15s ease;
}

/*********************************************
 * TIP
 *********************************************/
.reveal .tip {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    background-color: var(--zuehlke-purple);
    padding: .5em;
    border-radius: .5em;
    transform: translateX(-50%) translateY(-50%) rotate(20deg);
    min-width: 80%;
    text-align: left;
}

.reveal .slides section .tip.visible {
    opacity: .9;
}

.reveal .tip::before {
    content: "💡";
    margin-right: .5em;
}

/*********************************************
 * COMPARISON
 *********************************************/
.reveal .comparison {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: .5em;
}

.reveal .comparison > div {
    padding: .5em;
    background-color: rgba(0, 0, 0, .05);
    font-size: 0.75em;
    text-align: left;
}

.reveal .comparison pre {
    margin: 0;
    width: 100%;
}

.reveal .comparison ul {
    margin: 0;
}

/*********************************************
 * INLINE CODE
 *********************************************/
.reveal .code {
    background: rgba(0, 0, 0, .05);
    border-radius: 2px;
    color: var(--zuehlke-blue);
    padding: 0 4px;
    font-size: 90%;
    font-family: monospace;
}

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
    margin: 20px 0;
    line-height: 1.3;
}

.reveal .slides section pre {
    box-shadow: none !important;
    word-wrap: normal !important;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
    max-width: 95%;
    max-height: 95%;
}

.reveal strong,
.reveal b {
    font-weight: bold;
}

.reveal em {
    font-style: italic;
}

.reveal dt {
    font-weight: bold;
}

.reveal dd {
    margin-left: 40px;
}

.reveal blockquote {
    display: block;
    position: relative;
    width: 70%;
    margin: 20px auto;
    padding: 5px;
    font-style: italic;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
    display: inline-block;
}

.reveal q {
    font-style: italic;
}

.reveal pre {
    display: block;
    position: relative;
    width: 95%;
    margin: 20px auto;
    text-align: left;
    font-size: 0.55em;
    font-family: monospace;
    line-height: 1.2em;
    word-wrap: break-word;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.reveal sup {
    vertical-align: super;
}

.reveal sub {
    vertical-align: sub;
}

.reveal small {
    display: inline-block;
    font-size: 0.6em;
    line-height: 1.2em;
    vertical-align: top;
}

.reveal small * {
    vertical-align: top;
}

.reveal .roll span:after {
    color: #fff;
    background: #bd5c00;
}

.reveal .grid {
    display: grid;
    grid-template-columns: auto auto;
}

.reveal .slides section .grid li {
    margin-top: 0.8em;
}

.reveal .warn,
.reveal .hl {
    color: transparent;
    font-weight: bold;
    background: var(--zuehlke-gradient);
    background-clip: text;
    -webkit-background-clip: text;
}

.reveal .warn::selection,
.reveal .hl::selection {
    color: var(--zuehlke-blue);
}
