@charset "UTF-8";

.reveal .statement-slide {
    text-align: left;
}

.reveal .statement-slide.slide-background {
    background: var(--zuehlke-gradient)
}

.reveal .statement-slide > * {
    color: var(--zuehlke-white);
    position: relative;
    font-size: 1.6em;
    font-weight: bold;
}

.reveal .statement-slide h1 {
    margin-top: 3em;
    margin-bottom: 0em;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.1px;
}
