@charset "UTF-8";

.reveal .break-slide {
    text-align: left;
}

.reveal .break-slide.slide-background {
    background: url("../../assets/img/zuehlke-break-slide.jpg") no-repeat center, center;
    background-size: cover;
}

.reveal .break-slide > * {
    color: var(--zuehlke-white);
    position: relative;
    margin: 0 0 0.3em 0;
}

.reveal .break-slide h1 {
    font-size: 1.6em;
    margin-top: 4em;
    font-weight: bold;
}

.reveal .break-slide h2 {
    font-size: 0.8em;
    margin-top: 1em;
    font-weight: normal;
}