@charset "UTF-8";
/**
 * Zühlke theme for reveal.js.
 *
 */
.reveal .logo-slide.slide-background {
    background: url("../../assets/img/zuehlke-logo-slide.jpg");
    background-position: center, center;
    background-size: cover;
    background-repeat: no-repeat;
}