@charset "UTF-8";

.reveal .subtitle-slide {
    text-align: left;
}

.reveal .subtitle-slide.slide-background {
    background: url("../../assets/img/zuehlke-subtitle-slide.jpg") no-repeat center, center;
    background-size: contain;
}

.reveal .subtitle-slide > * {
    color: var(--zuehlke-dark-gray);
    position: relative;
    margin-left: 12.5em;
    margin-bottom: 0.0em;
    margin-top: 2em;
    font-size: 1.2em;
    font-weight: bold;
}


