@charset "UTF-8";

.reveal .title-slide {
    text-align: left;
}

.reveal .title-slide.slide-background {
    background: url("../../assets/img/zuehlke-title-slide.jpg");
    background-position: center, center;
    background-size: contain;
    background-repeat: no-repeat;
}

.reveal .title-slide > * {
    color: var(--zuehlke-white);
    position: relative;
    margin: 0 0 0.3em 0;
}

.reveal .title-slide h1 {
    font-size: 1.6em;
    margin-top: 4em;
    font-weight: bold;
}

.reveal .title-slide h2 {
    font-size: 0.8em;
    font-weight: bold;
}

.reveal .title-slide h3 {
    font-size: 0.8em;
    margin-top: 3em;
    font-weight: normal;
}