@charset "UTF-8";
/**
 * Zühlke theme for reveal.js.
 *
 */
.reveal .subtitle-slide {
    text-align: left;
}

.reveal .subtitle-slide.slide-background {
    background: url("../../assets/img/zuehlke-subtitle-slide.jpg");
    background-position: center, center;
    background-size: contain;
    background-repeat: no-repeat;
}

.reveal .subtitle-slide > * {
    color: var(--zuehlke-dark-gray);
    position: relative;
    margin-left: 12.5em;
    margin-bottom: 0.0em;
}

.reveal .subtitle-slide h1 {
    font-size: 1.2em;
    margin-top: 2em;
    font-weight: bold;
}