@charset "UTF-8";

.reveal .logo-slide.slide-background {
    background: url("../../assets/img/zuehlke-logo-slide.jpg");
    background-position: center, center;
    background-size: contain;
    background-repeat: no-repeat;
}